<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Обработка файла</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    $(function() {
      var intervalId;
      $('form').on('submit', function(event) {
        event.preventDefault();
        $('#download').hide();
        $('#message').show();
        $.ajax({
          url: '/',
          type: 'POST',
          data: new FormData($('form')[0]),
          processData: false,
          contentType: false,
          success: function(data) {
            intervalId = setInterval(function () {
              $.getJSON('/status', function (data) {
                if (data.status == 'SUCCESS') {
                  $('#message').hide();
                  $('#download').attr('href', data.link).show();
                  clearInterval(intervalId);
                } else if (data.status == 'FAILURE') {
                  $('#message').text('Ошибка обработки файла').show();
                  $('#download').hide();
                }
              });
            }, 1000);
          },
          error: function (result) {
            $('#message').text('Ошибка обработки файла').show();
          },
        });
      });
    });

    </script>
  </head>
  <body>

    <form action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="fileInput">
      <button id="myButton" type="submit">Загрузить файл</button>
      <p id="message" style="display: none;">Обработка файла...</p>
      <p><a id="download" style="display: none;">Скачать файл</a></p>
    </form>

  </body>
</html>
